* {
    margin: 0;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
}

body {
    background-color: gainsboro;
}
.container {
    width: 400px;
    margin: 0 auto;
}
header {
    width: 100%;
    background-color: white;
    padding: 20px;
}
h1{
    font-size: 24px;
}

main{
    padding: 30px 0;
}

.card {
    background-color: white;
    border-radius: 5px;
    margin: 60px 0;
}

.card .card-header {
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

.card .card-header .card-title{
    font-weight: bold;
    font-size: 18px;
}

.card .card-header .card-date {
    color: grey;
}

.card .card-text  {
    padding: 20px;
    color: dimgray;
    font-size: 14px;
}
